<div class="container">
  <% @events.each do |event| %>
  <h1><%= event.name %></h1>
  <%= link_to "view details", event_path(event) %>
  <p><%= event.location %></p>
  <p><%= event.date_start %></p>
  <% end %>
</div>
  <%= link_to "Back to the events", categories_events_path(date_start: cookies[:date_start], location: cookies[:location]) %>
