<div>
  <h1>Add new Event</h1>
  <div>
    <div>
        <%= simple_form_for @event do |f| %>
          <%= f.input :name %>
          <%= f.input :date_start %>
          <%= f.input :date_end %>
          <%= f.input :location %>
          <%= f.input :category %>
          <%= f.input :sub_category %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Submit"%>
        <% end %>
        <div>


        </div>
    </div>
  </div>
</div>
