<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1566131929856-21b5077cd4fb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <h1><%=@event.name%></h1>
</div>
<div class="show">
  <div class="container">
    <div class="infos">
      <h2><%=@event.name%></h2>
      <div class="date">
        <p><%= @event.date_start %></p>
        <p><%= @event.date_start %></p>
      </div>
      <p><%=@event.location %></p>
      <h3><%= @event.category %></h3>
      <p><%= @event.sub_category %></p>
    </div>
    <div class="btn-flex">
      <div class="btn-flat">
        <%= link_to "Add to your list", event_event_users_path(@event), method: :post, data: {confirm: "Are U sure ?"}%>
      </div>
      <div class="btn-flat">
        <%= link_to "Back to the events", events_path(category: @event.category) %>
        <% if @is_creator  %>
          <%= link_to "Delete event", event_path(@event), method: :delete, data: {confirm: "Are you sure ?"} %>
        <% end  %>
      </div>
    </div>
  </div>
</div>


<!--   <%= link_to "Add to your list", event_event_users_path(@event), method: :post, data: {confirm: "Are U sure ?"}%>
  <%= link_to "Back to the events", events_path(category: @event.category) %>
  <% if @is_creator  %>
    <%= link_to "Delete event", event_path(@event), method: :delete, data: {confirm: "Are you sure ?"} %>
  <% end  %> -->
















