<% if @event.photo.present? %>
  <% @url = cl_image_path @event.photo %>
 <% else %>
  <% @url ="https://images.unsplash.com/photo-1571575522341-be760794a35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80", alt="event" %>
<%end %>

<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(@url);">
  <h1><%=@event.name%></h1>
</div>
<div class="show">
  <div class="container" id="event">
    <div class="col-md-8 col-lg-8">
      <div class="text">
        <h4><%= @event.category%> à <%=@event.location %></h4>
        <h2><%=@event.name%></h2>
        <p>L’exposition Futur, ancien, fugitif, consacrée à « une scène française » s’appuie sur une conception ouverte de l’inscription territoriale
          – qui rassemble des artistes né.e.s en France ou à l’étranger, vivant en France ou à l’étranger, lié.e.s provisoirement ou durablement à ce pays
          – autant qu’elle échappe aux effets de tabula rasa qui voudraient qu’une génération en éclipse une autre.
          Elle réunit au contraire des « contemporain.e.s » qui partagent aujourd’hui cet espace en évolution et aux frontières
          poreuses. Et cherche à dessiner les courroies de transmission par lesquelles transite cet air du temps que respirent simultanément les quarante-quatre artistes
          ou collectifs d’artistes réuni·e·s pour l’occasion. Des artistes né·e·s entre les années 1930 et les années 1990, mais qui vivent et travaillent tou·te·s,
          dans et avec leur époque. Contemporain est un « mot transitif et par conséquent relationnel »,
          rappelait Lionel Ruffel dans Brouhaha. Les mondes du contemporain.
          On est contemporain de quelque chose ou de quelqu’un et c’est cette interdépendance,
          ce liant qui nous sert à établir des ponts d’un·e artiste à l’autre dans l’exposition que nous avons bâtie dans l’ensemble des espaces du Palais de Tokyo.
          C’est encore cette perméabilité au présent et une forme de permanence au temps que nous avons cru déceler chez les artistes
          réuni·e·s dans l’exposition et qui nous a permis d’établir cette photographie non pas exhaustive, ni même représentative,
          mais simplement sensible d’une scène française. Ou plutôt d’une « autre » scène française. De celle qui se trame plus discrètement
          mais avec non moins de puissance dans les ateliers, les écoles d’art, les espaces partagés, dans les marges ou à l’abri du marché.
          L’exposition Futur, ancien, fugitif, consacrée à « une scène française » s’appuie sur une conception ouverte de l’inscription territoriale
          – qui rassemble des artistes né.e.s en France ou à l’étranger, vivant en France ou à l’étranger, lié.e.s provisoirement ou durablement à ce pays
          – autant qu’elle échappe aux effets de tabula rasa qui voudraient qu’une génération en éclipse une autre.
          Elle réunit au contraire des « contemporain.e.s » qui partagent aujourd’hui cet espace en évolution et aux frontières
          poreuses. Et cherche à dessiner les courroies de transmission par lesquelles transite cet air du temps que respirent simultanément les quarante-quatre artistes
          ou collectifs d’artistes réuni·e·s pour l’occasion. Des artistes né·e·s entre les années 1930 et les années 1990, mais qui vivent et travaillent tou·te·s,
          dans et avec leur époque. Contemporain est un « mot transitif et par conséquent relationnel »,
          rappelait Lionel Ruffel dans Brouhaha. Les mondes du contemporain.
          On est contemporain de quelque chose ou de quelqu’un et c’est cette interdépendance,
          ce liant qui nous sert à établir des ponts d’un·e artiste à l’autre dans l’exposition que nous avons bâtie dans l’ensemble des espaces du Palais de Tokyo.
          C’est encore cette perméabilité au présent et une forme de permanence au temps que nous avons cru déceler chez les artistes
          réuni·e·s dans l’exposition et qui nous a permis d’établir cette photographie non pas exhaustive, ni même représentative,
          mais simplement sensible d’une scène française. Ou plutôt d’une « autre » scène française. De celle qui se trame plus discrètement
          mais avec non moins de puissance dans les ateliers, les écoles d’art, les espaces partagés, dans les marges ou à l’abri du marché.
        </p>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="infos-global">
        <div class="infos">
          <h2><%= @event.category %></h2>
          <h4><%= @event.sub_category %></h4>
          <div class="date">
            <% if @event.date_start != @event.date_end %>
              <p><%= @event.date_start %></p>
              <p><%= @event.date_end %></p>
            <% else %>
              <p><%= @event.date_start %></p>
            <% end %>
          </div>
          <div class="infos-pratiques">
            <h5>Infos pratiques</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repudiandae optio, ratione voluptatum odit molestias eos illo nisi quis sed?
            </p>
          </div>
        </div>
        <div class="btn">
          <div class="btn-flat" id="show-1">
            <%= link_to "Add to your list", event_event_users_path(@event), method: :post, data: {confirm: "Are U sure ?"}%>
          </div>
          <div class="btn-flat" id="show-2">
            <%= link_to "Back to the events", events_path(category: @event.category) %>
            <% if @is_creator  %>
              <%= link_to "Delete event", event_path(@event), method: :delete, data: {confirm: "Are you sure ?"} %>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

















