<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1566131929856-21b5077cd4fb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <h1><%=@event.name%></h1>
</div>
<div class="show">
  <div class="container">
    <div class="col-md-8 col-lg-8">
      <div class="text">
        <h2><%=@event.name%></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus neque expedita possimus, architecto, consequuntur vitae quibusdam fuga ipsa! Deserunt culpa reiciendis fugit libero vel tenetur, ex sed amet modi dolor!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quod ab enim eum dolorum, facilis aliquid optio eos reprehenderit mollitia eius illo dignissimos cum totam culpa libero, asperiores tempora eligendi?
          Deserunt quod ab enim eum dolorum, facilis aliquid optio eos reprehenderit mollitia eius illo dignissimos cum totam culpa libero, asperiores tempora eligendi?
        </p>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="infos">
        <h3><%= @event.category %></h3>
        <h4><%= @event.sub_category %></h4>

        <p><%= @event.date_start %></p>
        <p><%= @event.date_start %></p>
        <p><%=@event.location %></p>
      </div>
      <div class="btn">
        <div class="btn-flat">
          <%= link_to "Add to your list", event_event_users_path(@event), method: :post, data: {confirm: "Are U sure ?"}%>
        </div>
        <div class="btn-flat">
          <%= link_to "Back to the events", events_path(category: @event.category) %>
          <% if @is_creator  %>
            <%= link_to "Delete event", event_path(@event), method: :delete, data: {confirm: "Are you sure ?"} %>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>

















