<% if @event.photo.present? %>
  <% url = cl_image_path @event.photo %>
<% else %>
  <% url ="https://images.unsplash.com/photo-1571575522341-be760794a35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"%>
<%end %>

<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url %>);">
  <h1><%=@event.name%></h1>
</div>
<div class="show">
  <div class="container" id="event">
    <div class="col-md-8 col-lg-8">
      <div class="text">
        <h4><%= @event.category%> à <%=@event.location %></h4>
        <h2><%=@event.name%></h2>
        <p><%=@event.description%></p>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="infos-global">
        <div class="infos">
          <h2><%= @event.category %></h2>
          <h4><%= @event.sub_category %></h4>
          <div class="date">
            <% if @event.date_start != @event.date_end %>
              <p><%= @event.date_start %></p>
              <p><%= @event.date_end %></p>
            <% else %>
              <p><%= @event.date_start %></p>
            <% end %>
          </div>
          <div class="infos-pratiques">
            <h5>Infos pratiques</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repudiandae optio, ratione voluptatum odit molestias eos illo nisi quis sed?
            </p>
          </div>
        </div>
        <div class="btn">
          <div class="btn-flat" id="show-1">
            <%= link_to "Add to your list", add_event_path(@event), data: {confirm: "Are U sure ?"}%>
          </div>
          <div class="btn-flat" id="show-2">
            <%= link_to "Back to the events", events_path(category: @event.category) %>
            <% if @is_creator  %>
              <div class="btn-flat" id="show-3">
                <%= link_to "Delete event", event_path(@event), method: :delete, data: {confirm: "Are you sure ?"} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

















