
<div class="page-login">
  <div class="login-box">
  <%= provide(:title, "Sign in") %>
    <center><h1>Sign in</h1></center>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="text-box">
        <i class="fa fa-user" aria-hidden="true"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="text-box">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="signin_remember_me">
          <%= f.check_box :remember_me %> Remember me
        </div>
      <%end %>

      <div class="button">
        <%= f.submit "Log in"%>
      </div>
      <!-- on regarde si on a des parametre dans les cookies, ici on regarde si on a fait une recherche dans catgory-->
      <%= render "devise/shared/links" %>
    <%end  %>
  </div>
</div>
